/** HEADER **/
* {
  margin: 0;
}

.testT {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.jumbo-score {
  background-color: #b32727;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  max-width: 130px;
  min-width: 130px;
  height: 130px;
  max-height: 130px;
  box-shadow: 0px 11px 7px -12px #4e4e4e;
  border-radius: 8%;
  font-size: 400%;
  font-weight: 900;
  margin-right: 2%;
}


.courseContentContainer {
  flex-direction: column;
}

.courseName {
  color: #b32727;
  font-size: 165%;
  font-weight: bold;
  letter-spacing: .7px;
}

.reqsContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reqsContent-requirements-title {
  margin-right: 1%;
  font-size: 85%;
  color: #6c757d;
  margin-left: 0;
}


.reqTagsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 2%;
}

.requirements {
  width: max-content;
  height: max-content;
  background-color: #ededed;
  font-size: 85%;
  padding: 1%;
  margin-right: 1%;
  border-radius: 8px;
}



.course-page-credits-container {
  display: flex;
  flex-direction: row;
  font-size: 85%;
  color: #6c757d;
  align-items: center;
}

.course-page-credits-title {
  margin-right: 1%;
}

/******RETURNED RESULTS TEXT********/

.showingInstructorsText {
  color: #6c757d;
  padding-left: 3%;
  margin-bottom: 2%;
  line-height: 165%;
}

.coursePageCourse {
  font-weight: 500;
  color: #b32727;
  font-size: 100%;
}
/******SEARCH BAR********/

.searchBarContainer {
  margin-top: 3%;
  margin-right: 5%;
}

/**************PROFESSOR CARD****************/


.prof-card {
  background-color: #ffffff;
  box-shadow: 0px 3px 20px #00000010;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.profCardTopContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 85%;
  color:#6c757d;
  margin-bottom: 2%;
}


.profCardTopLeftContentContainer {
  justify-content: center;
  font-size: 85%;
  padding-left: 5%;
}

.profCardTopRightContentContainer {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 76%;
}

.avgClassSizeContainer {
  text-align: center;
  width: 100%;
  font-size: 85%;
  padding-top: 2%;
  padding-bottom: 2%;
  color:#6c757d;

}

.profCardBottomContentContainer {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.profName {
  color: black;
  font-weight: bold;
  font-size: 150%;
  top: 10px;
  left: 10px;
}

.testTest {
  width: 105%;
}


/* .profCardContainer {
  /* margin-left: 15px; */
  /* margin-right: 0; */
  /* margin-bottom: 20px;
}

.prof-card {
  box-shadow: 0px 11px 7px -12px #4e4e4e;
  width: 113%;
  height: 200px;
  width: 650px;
}

.profName {
  color: black;
  font-weight: bold;
  font-size: 120%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.profYears { */
  /* margin-left: 2%; */
  /* position: absolute;
  top: 38px;
  left: 10px;
  color: #6c757d;
  font-size: 80%;
}
.profDays { */
  /* margin-left: 2%; */
  /* color: #6c757d;
  font-size: 80%;
  position: absolute;
  top: 53px;
  left: 10px;
}

.profCardContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 1%;
  margin-bottom: 2%;
}

.profCardRightContentHalf {
  padding-bottom: 2%;
}

.doughnutContainer {
  margin-right: 5%;
  padding-right: 0%;
  padding-left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profCardMiddle {
  color: #6c757d;
  font-size: 85%;
  padding-left: 0;
  padding-right: 1%;
  padding-top: 2%;
  line-height: 155%;
}

.profCardEnd {
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}  */

/**************FILTER CARD****************/

.filterCardTitle {
  font-size: 105%;
  color: #6c757d;
}
