
.profCardContainer {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
/**************  PROFESSOR CARD STYLES ****************/

.professor-card {
  display: flex;
  align-items: center;
  background-color:  rgb(245, 245, 245);
  border: 1px solid rgb(189, 189, 189);
  height: 25vh;
  box-shadow: 0px 11px 7px -12px #4e4e4e;
  margin-bottom: 2%;
}
/**** LEFT THIRD ****/
.professor-card-left-third-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #9a0000;
  height: 100%;
}

.professor-card-left-third-top-portion {
  display: flex;
}

.professor-card-easy-score {
  background-color: #9a0000;
  margin-left: 2%;
}

.explanation {
  color: rgb(133, 133, 133);

}

.professor-card-professor-name {
  /* text */
  color: black;
}

/**** CENTER THIRD ****/
.professor-card-center-container {
  display: flex;
}

.professor-card-grade-percentage-container {
  margin-left: 5%;
  border-left: 1px solid rgb(133, 133, 133);
  border-right: 1px solid rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grade-percentage-grade-letter {
  color: rgb(134, 0, 0);
}

.grade-percentage-grade-percentage {
  color: rgb(68, 68, 68);
}

/**** RIGHT THIRD ****/
