/* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015); */
/* soft gray #d9d9d9; */

.userInputText {
  color: #b32727;
}
*/ .fixed {
  position: fixed;
}
.absolute-bottom-right {
  position: absolute;
  bottom: 5px;
  right: 25px;
}
/****** Returned Results Section ********/

.showingResultsText {
  color: #6c757d;
  margin-bottom: 1%;
  padding-left: 0;
}

.coursePageKeyword {
  color: #b32727;
  font-size: 110%;
  font-weight: bold;
}

/***** FILTER CARD ********/
.filterBtnContainer {
  display: flex;
  flex-direction: row;
}

.filterCardTitle {
  /* font-weight: normal; */
  font-size: 100%;
}

.filterCardBtnLabel {
  font-weight: normal;
  font-size: 85%;
}

.filterCardSwitch {
  color: #b32727;
}

.filterBtn,
.filterBtn-btn-primary {
  font-size: 85%;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #b32727;
  color: #b32727;
  margin-right: 8%;
  box-shadow: none;
}
.filterBtn:hover,
.filterBtn.btn-primary:hover,
.filterBtn:active:hover,
.filterBtn.btn-primary:active:hover,
.filterBtn.btn-primary:active:focus,
.filterBtn:active:focus {
  font-size: 85%;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #d16a6a;
  color: #d16a6a;
  margin-right: 8%;
  box-shadow: none;
  outline: none;
}
.filterBtn:active,
.filterBtn.btn-primary:active {
  font-size: 85%;
  font-weight: 600;
  background-color: white;
  border: 1px solid #d16a6a;
  color: #d16a6a;
  margin-right: 8%;
  box-shadow: none;
}

.filterBtn:focus,
.filterBtn.btn-primary:focus .filterBtn:active:focus,
.filterBtn.btn-primary:active:focus {
  font-size: 85%;
  font-weight: 600;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #d16a6a;
  color: #d16a6a;
  margin-right: 8%;
  box-shadow: none;
}

[class="custom-control-input"]:checked
  ~ [class="custom-control-label"]::before {
  background-color: #b32727;
  outline: none;
  border: #b32727;
  box-shadow: none;
}
[class="custom-control-input"].active {
  background-color: #b32727;
  outline: none;
  border: #b32727;
  box-shadow: none;
}

/***** COURSE CARDS ********/

/* .CourseCard {
  width: 300px;
  min-width: 300px;
  max-height: min-content;
  margin-right: 5%;
} */

.course-cardSpace {
  background-color: #ffffff;
  /* height: 100%; */
  border-radius: 4px;
  color: #222222;
  box-shadow: 0px 3px 20px #00000010;
  padding: 2%;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.199);
  border-top: 0.5px solid rgba(211, 211, 211, 0.199);
  /* min-height: 279px; */
  /* min-width: 266px;
  max-width: 266px;
  width: 266px; */
  /* min-height: 296; */
  /* max-height: 296; */
}

div.course-cardSpace {
  /* min-height: 296px; */
  /* max-height: 296px; */
  /* min-width: 250px; */
  /* max-width: 250px; */
  position: relative;
  /* position: fixed; */
}

@media only screen and (min-width: 1200px) {
  .non-mobile-zero-padding-right {
    padding-right: 3% !important;
  }
}
@media only screen and (min-width: 1200px) {
  div.course-cardSpace {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  div.course-cardSpace {
    min-width: 275px;
    max-width: 275px;
    min-height: 275px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 767px) {
  div.course-cardSpace {
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  div.course-cardSpace {
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    /* max-height: 400px; */
  }
}
@media only screen and (min-width: 350px) and (max-width: 449px) {
  div.course-cardSpace {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
  }
}

.course-card-top-portion {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 85%;
  color: #6c757d;
  margin-bottom: 8%;
}

.couse-card-top-portion-left-side {
  width: 50%;
}

.course-card-easyscore {
  background-color: #b32727;
  color: #ffffff;
  font-size: 220%;
  font-weight: 900;
  padding: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
  width: 80px;
  height: 80px;
  box-shadow: 0px 11px 7px -12px #4e4e4e;
  border-radius: 10%;
}

.couse-card-top-portion-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.course-card-credits {
  color: #b32727;
  font-weight: 600;
}

.course-card-professors-scored {
  color: #b32727;
  font-weight: 600;
}

.course-card-course-title {
  color: #b32727;
  margin-left: 2%;
  padding-bottom: 10%;
  font-weight: 700;
  font-size: 100%;
  height: 70px;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
}

.filterCardReqContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 2%;
  padding-top: 2%;
}

.filterCardReq {
  font-size: 12px;
  margin-right: 4%;
  line-height: 50%;
  color: rgba(85, 85, 85, 0.815);
  width: max-content;
}

.course-card-click-more {
  /* margin-left: 80%; */
  font-size: 85%;
}
.more-arrow {
  font-size: 8px;
}
/* .absolute-bottom-right-2 {
  position: absolute;
  right: 23px;
  bottom: 6px;
} */
/* .absolute-bottom-right-4 {
  position: absolute;
  right
} */
.slide {
  transition: all 0.25s ease-in-out;
}
.slide:hover {
  right: 18px;
}
.no-hover:hover {
  color: #b32727;
}

/***** No Results Background ********/
.no-results-background {
  background-color: white;
  width: 100%;
}

.page-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
}
.results-container {
  margin: 3%;
}

/**** MOBILE FORM ****/
.inputContainer {
  border: none;
}

.inputAndBtnContainer {
  border: 0.5px solid #d8d6d6;
  border-radius: 4px;
  padding-left: 0.2%;
  font-size: 90%;
}

.searchPageSrchBtn {
  background-color: #ffffff;
  border: none;
  color: #b32727;
  /* width: 100%; */
}

.searchPageModalBtnContainer {
  /* float: right; */
  margin-top: 1%;
  /* margin-right: inherit; */
  /* margin-left: inherit; */
}

.searchPageFilterBtn,
.searchPageFilterBtn-btn-primary {
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}
.searchPageFilterBtn:hover,
.searchPageFilterBtn.btn-primary:hover {
  background-color: #bb4c4c;
  border: 1px solid #b32727;
  color: white;
}
.searchPageFilterBtn:active,
.searchPageFilterBtn.btn-primary:active {
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}

.searchPageFilterBtn:focus,
.searchPageFilterBtn.btn-primary:focus .searchPageFilterBtn:active:focus,
.searchPageFilterBtn.btn-primary:active:focus {
  outline: none;
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}
.searchPageApply {
  margin-right: 2%;
}
