.results-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.courseDisplayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  display: flex;
  width: 100%;
  margin: 0;
}
/********* HEADER LEFT SIDE ***********/
.header-third-left-side {
  border: 1px solid pink;
  margin: 2% 5%;
}

.filter-options-title {
  display: flex;
  justify-content: space-evenly;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
}

/************* HEADER CENTER ***************/
.header-third-center {
  border: 1px solid pink;
  margin: 2% 5%;
}
/************* HEADER RIGHT SIDE ***********/
.header-third-right-side {
  border: 1px solid pink;
  margin: 2% 5%;
}

.course-days-explanation-key-container {
  display: flex;
}

.day {
  background-color: cornflowerblue;
  color: cornsilk;
  margin: 1%;
  padding: 2%;
}

/*************** COURSE CARD ***************/
.course-card {
  border: 1px solid #b3b3b3;
  background-color: #ffffff;
  border-radius: 8px;
  color: #222222;
}

.top-half-top-twothirds {
  display: flex;
  align-items: center;
}

.course-rating {
  background-color: rgb(129, 1, 1);
  color: rgb(212, 212, 212);
  /******* placeholder colors ******/
}

/** COURSE-CARD-INSTRUCTOR COMPONENT **/
.professor-main-container {
  display: flex;
  border: 1px solid pink;
}
