* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/***************** NAV *********************/
.nav-bar {
  display: flex;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid gray;
  width: 100%;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 4%;
}

/************** FOOTER ***********************/
.footer-container {
  border-top: 1px solid black;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
