* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  align-content: center;
}

body {
  background-image: url("../src/homebackground.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/***************** NAVBAR 1 *********************/
nav a {
  text-decoration: none;
  color: #717171;
}
.nav-bar {
  display: flex;
  border-bottom: 1px solid #1871bd;
  background-color: #f4f4f6;
  align-items: center;
  height: 7vh;
  width: 100%;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-ul li {
  list-style-type: none;
}

.logoContainer {
  width: 40%;
  margin-right: 35%;
}

.homeNavLinks {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.homeNavLinks li {
  margin-right: 143px;
}

/****************** NAVBAR 2 *******************/
.nav-bar-2 {
  display: flex;
  background-color: #f4f4f6;
  align-items: center;
  height: 7vh;
  width: 100%;
  box-shadow: 0px 11px 7px -16px #4e4e4e;
  margin: 0;
  border-bottom: 1px solid rgb(233, 233, 233);
}

/************** FOOTER ***********************/
.footer-container {
  background-color: #f5f5f5;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
