* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
  background-color: fff;
}

/***************** NAVBAR 1 *********************/

nav a {
  text-decoration: none;
  color: #b32727;
  font-size: 90%;
  padding-right: 15%;
}

.nav-bar {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

/****************** NAVBAR 2 *******************/
.nav-2 {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

}

.navBarTwoLogo {
  margin-right: 65%; 
  font-size: 145%;
  font-weight: 500;
  margin-bottom: 5%;
  color: #b32727;

}

.navBarTwoEasy {
  color: black;
}

.navBarTextLink {
  text-decoration: none;
  color: #b32727;
  font-size: 90%;
  padding-right: 2%;
  padding-bottom: 5%;
}

/****************** NAVBAR 3 *******************/
.nav-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  margin: 0;
}

/************** FOOTER ***********************/
.footer-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: #a3a3a3;
  height: 4em;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
