/**** GENERAL STYLING ****/
/* nav a {
  text-decoration: none;
  color: #b32727;
  font-size: 90%;
  padding-right: 15%;
} */
/** 
^ this is the only reason the nav is properly aligned, should find a workaround that doesnt rely on padding-right **/

/***************** FIRST NAV BAR ******************/
/** DESKTOP NAV1 **/
.nav-bar {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.moda-icon {
  cursor: pointer;
}
.MuiSvgIcon-root.modal-icon {
  cursor: pointer;
  transition: all 0.275s ease-in-out;
}
.filter-icon-handler:hover .MuiSvgIcon-root.modal-icon {
  color: #b76767;
  transform: rotate(90deg);
}

/** MOBILE NAV1 **/

/***************** SECOND NAV BAR ******************/
/** DESKTOP **/
.nav-2 {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-bottom: 2%;
}
.nav-bar-2-logo {
  /* margin-right: 57%; */
  font-size: 145%;
  font-weight: 500;
  /* margin-bottom: 5%; */
  color: #b32727;
}
.nav-bar-2-easy-text {
  color: black;
}
.nav-bar-2-text-link {
  text-decoration: none;
  color: #b32727;
  font-size: 90%;
  /* padding-right: 2%; */
  /* padding-bottom: 5%; */
}
/** MOBILE **/
.mobile-nav-bar-2-logo {
  /* margin-right: 57%; */
  font-size: 145%;
  font-weight: 500;
  /* margin-bottom: 5%; */
  color: #b32727;
}
.mobile.nav-bar-2-easy-text {
  color: black;
}

/******************* THIRD NAV BAR *********************/
.nav-3-top-margin {
  margin-top: 1%;
}

.nav-2-top-margin {
  margin-top: 2%;
}
/** DESKTOP **/
.nav-bar-3-logo {
  /* margin-right: 57%; */
  font-size: 145%;
  font-weight: 500;
  /* margin-bottom: 5%; */
  color: #b32727;
}
.nav-bar-3-easy-text {
  color: black;
}
.padding-right-left {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/** MOBILE **/
.mobile-nav-bar-3-logo {
  /* padding-top: 2%; */
  /* margin-bottom: 2%; */
  font-size: 100%;
}
.mobile-nav-bar-3-easy-text {
  color: black;
}
