/*********  MAIN CONTENT SECTION ************/
.primary-color {
  background-color: #b32727;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  padding-bottom: 18%;
  padding-left: 2%;
  padding-right: 2%;
}

/*********  LOGO CONTENT ************/
.logoTitleContainer {
  margin-bottom: 4%;
}

.logoTitle {
  font-size: 300%;
  font-weight: 500;
}

.scoreLogo {
  color: #b32727;
  font-weight: 500;
}

/********* INPUT AND SEARCH BUTTON ************/
.inputContainer {
  border: none;
}

.inputAndBtnContainer {
  border: 0.5px solid #d8d6d6;
  border-radius: 4px;
  padding-left: 0.2%;
  font-size: 90%;
}

.homeSrchBtn {
  background-color: #ffffff;
  border: none;
  color: #b32727;
  width: 100%;
}

/********* FILTER BUTTONS ************/
.filters-container {
  align-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
}

filterSelect {
  border: none;
}
/******* MOBILE *******/
.filters-activate-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeApply {
  margin-right: 2%;
}

.homeModalBtnContainer {
  float: right;
  margin-top: 5%;
  margin-right: inherit;
  margin-left: inherit;
}
/* .homeModalBtn {
  margin-top: 5%;
} */
.homeFilterBtn,
.homeFilterBtn-btn-primary {
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}
.homeFilterBtn:hover,
.homeFilterBtn.btn-primary:hover {
  background-color: #bb4c4c;
  border: 1px solid #b32727;
  color: white;
}
.homeFilterBtn:active,
.homeFilterBtn.btn-primary:active {
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}

.homeFilterBtn:focus,
.homeFilterBtn.btn-primary:focus .homeFilterBtn:active:focus,
.homeFilterBtn.btn-primary:active:focus {
  outline: none;
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
}

/* 
.homeFilterBtn:focus,
.homeFilterBtn.btn-primary:focus {
  background-color: #bb4c4c;
  border: 1px solid #bb4c4c;
  color: white;
} */

/* 
.filterBtn:active:focus,
.filterBtn:active:hover {
  background-color: #b32727;
  border: 1px solid #b32727;
  color: white;
} */
