        /*********  HOME ************/
/*********  MAIN CONTENT SECTION ************/

.home-main {
  
  display: flex;
  flex-direction: row;
  margin: 4% 7% 4% 7%;
  height: 65vh;
}

.homePageLeftMain {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 3%;
  padding-right: 3%;
  border-left: 1px solid #b40404;
  border-bottom: 1px solid #b40404;
  text-align: center;
}

.homePageRightMain {
  width: 55%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 500px;
}

.homePageRightBckGrd {
  height: 100%;
  background: #9A0000;
  background: -webkit-linear-gradient(top left, #9A0000, #B02507);
  background: -moz-linear-gradient(top left, #9A0000, #B02507);
  background: linear-gradient(to bottom right, #9A0000, #B02507);
  
}

.homePageImage {
  background-size: cover;
}

/* .home-form-container {
  margin-top: 25%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
} */

/*********  MENU DISPLAY BUTTON ************/

.homeSrchInput {
  border-bottom: 2px solid #1871BD;
  width: 57%;
}

.homeInputBox {
  border: none;
  color: #9a0000;
  margin-bottom: 2%;
  margin-right:8%;
  width: 75%;
}

.homeSrchBtn {
  background: transparent;
  border: 2px solid #9a0000;
  padding: 2px;
  color: #9a0000;
  border-radius: 100%;
  margin-left: 5px;
  height: 80%;
}

.buttonSymbol {
  font-family: 'Redressed', Arial, Helvetica, sans-serif;
  color: #9a0000;
}

.homeFilterBtnContainer {
  border: none;
  
}

.homeFilterDisplay {
  text-align: center;
  align-content: center;
  background: transparent;
  color:  #1871BD;
  border-radius: 500px;
  border: 1px solid  #1871BD;
  padding-top: 2px;
  padding-left: 2px;
  width: 20%;
  height: 30px;
  margin-right: 1.5%;
}


.pseudo-button {
  /* background-color: rgb(189, 189, 189); */
  text-align: center;
  align-content: center;
  background-color: #9a0000;
  color: #ffffff;
  border-radius: 500px;
  padding-top: 2px;
  width: 25%;
  height: 16%;
}
.pseudo-button:hover {
  border: 1px solid #9a0000;
  color: black;
  background-color: #ffffff;
  transition: 0.2s;
}

.pseudo-button.clicked {
  width: 120px;
  border: 1px solid black;
}
.pseudo-button.clicked:hover {
  border: 3px solid rgb(129, 129, 129);
  transition: 0.2s;
}

.popUp {
  background-color: aqua;
  border-radius: 4%;
  width: 30%;
}
