/*********  MAIN CONTENT SECTION ************/

.primary-color {
  background-color: #9a0000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.logoTitleContainer {
  margin-bottom: 1%;
}

.logoTitle {
  font-size: 300%;
}

.scoreLogo {
  color: #9a0000;
  font-weight: 500;
}
