/*********  MAIN CONTENT SECTION ************/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}



/*********  MENU DISPLAY BUTTON ************/

.homeSrchInput {
  border-bottom: 2px solid #1871bd;
  width: 57%;
}

.homeInputBox {
  border: none;
  color: #9a0000;
  margin-bottom: 2%;
  margin-right: 8%;
  width: 75%;
}

.scoreLogo {
  color: #9a0000;
  font-weight: 500;
}





