.home-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/*********  MENU DISPLAY BUTTON ************/
.pseudo-button {
  /* background-color: rgb(189, 189, 189); */
  border: 3px solid rgb(189, 189, 189);
}
.pseudo-button:hover {
  border: 3px solid rgb(129, 129, 129);
  transition: 0.2s;
}

.pseudo-button.clicked {
  border: 3px solid rgb(44, 44, 44);
}
.pseudo-button.clicked:hover {
  border: 3px solid rgb(129, 129, 129);
  transition: 0.2s;
}
